.ContactMe {
    height: 30%;
    width: 100%;
    background: black;
    color: white;
}

.icon-container {
    margin: 12px auto;
    align-items: center;
    width: 20%;
    justify-content: space-evenly;
}

.icon-linkedin {
    height: 80px;
    width: 80px;
}

.icon-email {
    height: 100px;
    width: 100px;
}

