.Experience {
    background-color: #F5CEBA;
}

.line {
    border: solid 1px black;
}

.experienceContent {
    margin: 0 25%;
    padding-top: 20px;
    padding-bottom: 50px;
}

.workComponent{
    height: 200px;
    margin-bottom: 100px;
}

.leftColumn {
    text-align: right;
}

.educationHistory {
    margin-top: -50px;
    margin-bottom: 50px;
}

.educationComponent {
    margin-bottom: 20px;
}

.educationComponent > .leftColumn{
    width: 50%;
}

