.Home {
    height: 200%;
    background-color: rgb(212, 212, 212);
}

/* Hero, banner and bannerText are the first things you see */
.hero {
    height: 50%;
    z-index: -1;
}

.banner {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-image: url("https://cdn.pixabay.com/photo/2017/10/27/10/27/subway-2893851_960_720.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.bannerText {
    font-size: 200%;
    color: white;
    margin: auto;
}

/* Bottom half of home where the links are located */
.bottomHero {
    display: flex;
    align-items: center;
    height: 50%;
    width: 100%;
    font-size: 200%;
}

.linksDisplay {
    width: 100%;
    margin: 0 10%;
    height: 80%;
}

.personalInfo {
    height: 80%;
}

.aboutJae {
    width: 40%;
    color: grey;
    flex-grow: 1;
}

.workDone {
    width: 40%;
    flex-grow: 1;
    flex-direction: column;
}

.projects {
    height: 33.333333%;
    color: white;
    -webkit-text-stroke: 1px black;
    background: url(https://cdn.pixabay.com/photo/2017/10/27/10/27/subway-2893851_960_720.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.cv {
    height: 33.333333%;
    color: white;
    -webkit-text-stroke: 1px black;
    background: url(../images/resume.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}

.passions {
    height: 33.333333%;
    color: white;
    -webkit-text-stroke: 1px black;
    background: url(../images/resume.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}

.contact {
    height: 20%
}

.contactMe {
    width: 100%;
    color: white;
    -webkit-text-stroke: 1px black;
    background: url("https://caribbeantradelaw.files.wordpress.com/2012/01/contact-us-1908762_960_720.png?w=816");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 50%;
}