.Projects {
    background-color: #CAC773;
}

.Projects h4 {
    color: blue;
}

.projectContent {
    margin: 0 25%;
    padding-bottom: 50px;
}

.projComponent {
    width: 100%;
    height: 200px;
    margin-bottom: 100px;
}

.leftColumn {
    width: 30%;
    margin-right: 5%;
}
.rightColumn {
    width: 70%;
    text-align: left;
}

.my_website-image {
    background: url(../images/my_website.png);
    background-position: center;
    background-size: cover;
    border-radius: 5%;
}

.recipedex-image {
    background: url(../images/recipedex_screenshot.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 5%;
}

.prettyCity-image {
    background: url(../images/prettyCity_screenshot.png);
    background-position: center;
    background-size: cover;
    border-radius: 5%;
}