* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
}

html {
  scroll-behavior: smooth;
}

body > #root > div {
  height: 100vh;
}

h1 {
  margin-bottom: 30px;
}

.App {
  text-align: center;
}

.no-style {
  list-style: none;
}

.row {
  display: flex;
  flex-wrap: nowrap;
}

.link {
    display: flex;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease-in-out;
}

.link:hover {
    filter: brightness(80%);
    transform: scale(1.1);
    cursor: pointer;
}

.topButton {
  position: fixed;
  height: 100px;
  width: 100px;
  bottom: 0;
  right: 30px;
  z-index: 99;
  cursor: pointer;
  background-color: black;
}

.topButton:hover {
  filter: brightness(80%);
}