* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
}

body > #root > div {
  height: 100vh;
}

.App {
  text-align: center;
}

.row {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}
