.About {
    background-color: wheat;

    h2 {
        margin-bottom: 5%;
    }

    .aboutContent {
        // margin: 0 auto;
        padding-bottom: 50px;
        justify-content: center;
    }
    
    .selfDescrip {
        text-align: left;
        // flex-grow: 1;
        // margin-top: 3%;
        width: 33.33%;
        width: 275px;
        margin-right: 30px;
    }

    .container {
        // flex-grow: 1;
    }

    .selfie {
        // margin-right: 30px;
        height: 300px;
        width: 300px;
        border-radius: 50%;
        background: url(../images/self.jpg);
        background-position: 50%;
        background-size: 100%;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .skills {
        width: 33.33%;
        max-width: 275px;
        margin-left: 30px;
        ul {
            margin: auto;
        }
        li {
            margin: 12px 16px;
        }
    }

}

.About-mobile {
    background-color: wheat;

    .selfDescrip-mobile {
        text-align: center;
        margin-top: 3%;
        margin-left: 30px;
        margin-right: 30px;
        padding-bottom: 30px;
    }

    .selfie {
        margin: 3% auto;
        height: 300px;
        width: 300px;
        border-radius: 50%;
        background: url(../images/self.jpg);
        background-position: 50%;
        background-size: 100%;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .skills-mobile {
        margin: 3% auto;
        padding-bottom: 30px;
    }
}