.ContactMe {
    height: 250px;
    width: 100%;
    background: black;
    color: white;
}

.icon-container {
    margin: 12px auto;
    align-items: center;
    width: 20%;
    justify-content: space-evenly;
}

.icon-linkedin {
    height: 80px;
    width: 80px;
    background: url('../images/icon_linkedin.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.icon-email {
    height: 100px;
    width: 100px;
    background: url('../images/icon-email.png');
    background-repeat: no-repeat;
    background-size: cover;
}

