.Experience {
    background-color: wheat;
}

.line {
    border: solid 1px black;
}

.experienceContent {
    margin: 0 25%;
    padding-top: 20px;
    padding-bottom: 50px;
}

.experienceContent-mobile {
    margin: 0 7%;
    padding-top: 20px;
    padding-bottom: 50px;
}

.workComponent{
    // margin: 12px 16px;
    padding: 24px;
}

.workComponent.mobile{
    // margin: 12px 16px;
    padding: 24px;
    margin: auto;
}

.experience-company {
    margin-bottom: 12px;
}

.leftColumn {
    text-align: right;
}

.leftColumn p {
    font-style: italic;
}

.rightColumn {
    height: 100%;
}

.educationHistory {
    margin-bottom: 50px;
}

.educationComponent {
    margin-bottom: 20px;
}

.educationComponent > .leftColumn{
    width: 50%;
}

