/* Hero, banner and bannerText are the first things you see */
.hero {
    height: 100%;
    z-index: -1;
}

.banner {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-image: url('../images/night-time-nyc.jpg');
    // background-image: url('../images/orange-tint-nyc.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.bannerText {
    font-size: 200%;
    color: white;
    margin: auto;
}