.Projects h4 {
    color: blue;
}

.projectContent {
    margin: 0 25%;
    padding-bottom: 50px;
}

.projectContent-mobile {
    margin: 0 10%;
    padding-bottom: 50px;
}

.projComponent {
    width: 100%;
    height: 200px;
    margin-bottom: 10%;
}

.projComponent-mobile {
    width: 100%;
    margin-bottom: 20%;
}

.leftColumn {
    width: 30%;
    margin-right: 5%;
}
.rightColumn {
    width: 70%;
    text-align: left;
}

.my_website-image {
    background: url(../images/my_website.png);
}

.recipedex-image {
    background: url(../images/recipedex_screenshot.jpg);
}

.prettyCity-image {
    background: url(../images/prettyCity_screenshot.png);
}

.project-image {
    background-position: center;
    background-size: cover;
    border-radius: 5%;
    min-height: 200px;
    min-width: 200px;
}

.image-container {
    display: flex;
    justify-content: center;
}