.Projects {
    margin: auto;
    
    h4 {
        color: blue;
    }
    
    .projectContent {
        margin: 0 25%;
        padding-bottom: 50px;
    }
    
    .projectContent-mobile {
        margin: 0 10%;
        padding-bottom: 50px;
    }
    
    .projComponent {
        width: 100%;
        height: 200px;
        margin-bottom: 20%;

        a {
            color: #0060B6;
            text-decoration: none;
        }

        a:hover {
            color:#00A0C6; 
            text-decoration:none; 
            cursor:pointer;  
        }
    }
    
    .projComponent-mobile {
        width: 100%;
        margin-bottom: 20%;

        a {
            color: #0060B6;
            text-decoration: none;
        }

        a:hover {
            color:#00A0C6; 
            text-decoration:none; 
            cursor:pointer;  
        }
    }
    
    .leftColumn {
        width: 200px;
        margin-right: 5%;
        min-height: 200px;
        min-width: 200px;
    }
    
    .rightColumn {
        width: 500px;
        text-align: left;
        max-width: 500px;
    }
    
    .my_website-image {
        background: url(../images/my_website.png);
    }
    
    .recipedex-image {
        background: url(../images/recipedex_screenshot.jpg);
    }
    
    .prettyCity-image {
        background: url(../images/prettyCity_screenshot.png);
    }
    
    .project-image {
        background-position: center;
        background-size: cover;
        border-radius: 5%;
        min-height: 200px;
        min-width: 200px;
    }
    
    .image-container {
        display: flex;
        justify-content: center;
    }
    
}